#topper{
    margin: auto;
    width: 400px;
    text-align: center;}
    li {display:inline-block}
    font-family: Montserrat;
h1 {
    color: #33485e;
}


img {
    max-width: 150px;
    width: 100%;
    align: right;
}
h2{
    color: white;
    background-color: navy;
}
body {
    margin: auto;
    width: 550px;
}

mark {
    background-color: navy;
    color: black;
}
