#topper{
    margin: auto;
    width: 400px;
    text-align: center;}
    li {display:inline-block}
h1 {
    color: #33485e;
}
#topper
    li {display:inline-block;}
img {
    max-width: 150px;
    width: 80%;
    align: right;
}
h2{
    color: white;
    background-color: navy;
}
body {
    margin: auto;
    width: 550px;
}
p2 {color: white;
    background-color: navy;
}
