#topper{
    margin: auto;
    width: 400px;
    text-align: center;}
    li {display:inline-block}

h1 {
    color: #33485e;
    font-family: 'Lato', sans-serif;
    font-weight: light;
}


img {
    max-width: 150px;
    width: 100%;
    align: right;
}
h2{
    color: white;
    background-color: navy;
}
body {
    margin: auto;
    width: 550px;
}

mark {
    background-color: navy;
    color: white;
}
